{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un club{% endblock %}

{% block body %}

    <div class="container">
        <h1>Créer un nouveau club</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer</button>

        {{ form_end(form) }}

    </div>
    
{% endblock %}