{% extends 'base.html.twig' %}

{% block title %}ReseauFootball - Messages{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/styleMess.css">{% endblock %}

{% block body %}
    <div id="app" data-pseudo="{{ app.user.pseudo }}"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}