body {
  z-index: 1;
}

table {
  margin-top:10px;
}
  
.menuCote{
  position:fixed;
  margin-top: 10px;
}

.nav-item{
  text-align: center;
}

.headNav{
  position:fixed;
  top : 0;
  z-index: 2;
  width: 1115px;
}
.container{
  margin-top:50px;
}

.avatarDrop {
  max-width:24px;
  max-height:24px;
}

.avatarSujMin{
  max-width: 90px;
  max-height: 90px;
}

.logoNav{
  max-width:24px;
  max-height:24px;
}

.logoTitre{
  max-width:60px;
  max-height:60px;
}

.creaSujet{
  margin-top:30px;
}

.creaReponse{
  margin-top:30px;
  margin-bottom:30px;
}

a{
  color: black;
}

a:hover{
  color: DarkGray;
  text-decoration:none;
}

.nav-link:hover{
  background-color: azure;
}

.previSujet:hover{
  background-color: azure;
  text-decoration:none;
}

.sujTitre{
  font-size: 18px;
}

.sujPageTitre{
  margin-bottom: 50px; 
  margin-top:20px;
  background-color: azure;
  border-style: outset;
}

.monClub{
  background-color:springgreen; 
  font-weight:bold;
}

.newSujet{
  display: block;
  margin : auto;
  margin-top: 20px;
}

.titreClCh{
  margin-top: 10px;
}

.nomClNav{
  padding: 3px;
}

.logoPreviSuj{
  max-width: 16px;
  max-height: 16px;
}

.navigCote{
  width: 130px;
}

.clubPays{
  font-size: 14px;
}

.avProfilP{
  max-width: 150px;
  max-height: 150px;
}

.psProfilP{
  font-size: 20px;
}

.logProfilP{
  max-width: 32px;
  max-height: 32px;
}

.consHisto{
  display: block;
  margin : auto;
}

.areasujet{
  resize: none;
}

.arearep{
  resize: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid grey;
  border-radius: 1rem;
}

.avatarDemande {
  max-width:40px;
  max-height:40px;
}

.avatarHome{
  max-width: 40px;
  max-height: 40px;
}

